.container {
    width: auto;
}

.hr {
    margin: 1rem 2rem;
}

.formRoomContainer {
    display: flex;
    justify-content: space-around;
}

.expandButton {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0 0 0;
}

@media (min-width: 480px) {
    .expandButton {
        display: none;
    }

    .formRoomContainer {
        flex-direction: column;
    }

    .formRoomContainer input {
        margin-bottom: 1rem;
    }
}
