.container {
    display: flex;
    justify-content: space-between;
}

.buttonsContainer {
    display: flex;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.description {
    font-size: 0.9rem;
}

.info {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .leaveButton {
        display: none;
    }

    .info {
        flex-direction: row;
        align-items: center;
    }

    .title {
        margin-right: 0.5rem;
    }
}