.formContainer {
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.desktopUsers {
    display: none;
}

@media (min-width: 1024px) {
    .desktopUsers {
        display: flex;
        flex-direction: column;
    }

    .mobileUsers {
        display: none;
    }

    .container {
        flex-direction: row;
    }
    
    .subcontainer {
        flex-grow: 1;
    }
 }