.container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    max-width: calc(100% - 4rem);
    border-radius: 0 1.5rem 1.5rem 0;
}

.own {
    align-self: flex-end;
    border-radius: 1.5rem 0 0 1.5rem;
}

.container:first-child {
    margin-top: 0;
}

.top {
    display: flex;
    justify-content: space-between;
}

.time {
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.sameLastUser {
    margin-top: 0.2rem;
}

.usernameHidden {
    visibility: hidden;
}

.message {
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}